@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 201, 152, 104;
  --background-end-rgb: 240, 236, 213;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.header {
  @apply mx-auto text-4xl font-bold mt-4
}

header {
  @apply mx-auto px-4 max-w-3xl my-8;
}

h1 {
  @apply text-6xl tracking-tight font-caudex
}

h2 {
  @apply text-3xl tracking-tight font-caudex
}

h3 {
  @apply text-[24px] tracking-tight font-caudex
}

h4 {
  @apply text-[20px] font-caudex
}

h5,  h6 {
  @apply text-lg
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
  @apply dark:text-neutral-300 font-bold;
}

p {
  @apply text-base/6 font-lato;
}

ul,  ol {
  @apply my-4 font-lato list-outside pl-10 text-lg/7;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

li {
  @apply my-1
}

ul ul {
  @apply my-0
}

a,  a strong {
  color: #015db2;
  @apply hover:text-neutral-600 dark:hover:text-[#888] dark:text-[#3ca2fc];
}

nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
  @apply dark:bg-neutral-900;
}

pre {
  @apply p-1;
}
pre > code {

  all: unset;
}
blockquote {
  color: #222;
  padding: 2px 20px 2px 20px;
  margin: 0;
  font-style: italic;

  @apply dark:text-neutral-400;
}

hr {
  @apply my-2;
}

.paginate > div > a{
  @apply border-2 border-neutral-600 text-neutral-500 dark:border-neutral-400 p-3 hover:bg-neutral-500 hover:text-white
}
